:root {
    --color-ccc: #ccc;
    --color-ddd: #ddd;
    --color-maroon: #800000;
    --color-navy: #000080;
    --color-rgb-0-0-0-10: #0000001a;
    --color-tomato: #ff6347;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--color-ccc);
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

#logo {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--color-navy);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: var(--color-tomato);
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 1.85rem;
    text-align: center;
    font-family: Acme, Arial, sans-serif;
}

h2 {
    color: var(--color-maroon);
    font-size: 1.25rem;
}

section {
    margin: 1em auto;
    padding: 1em;
    border: 1px solid var(--color-rgb-0-0-0-10);
    background-color: var(--color-ddd);
    width: min(800px, 100%);
}


code {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    padding: 0.5em;
}