:root {
    --image-border-color: #4682b4;
    --image-shadow-color: #808080;
    --black-color: #000;
    --navigation-background: #ddd;
    --heading-color: #333;
    --subtle-border-color: #0000001a;
    --box-background: #eee;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--image-border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--image-shadow-color);
    float: right;
}

aside {
  width:300px;
  text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid var(--black-color);
    text-align: center;
}

nav {
    background-color: var(--navigation-background);
    padding: 10px;
}

nav a {
    color: var(--black-color);
    padding: 10px;
    display: block;

}

main {
    max-width: 840px;
}

h1 {
    color: var(--heading-color);
}

.box {
 margin: 1rem;
 border: 1px solid var(--subtle-border-color);
 padding: 1rem;
 background-color: var(--box-background);
 color: var(--black-color);


}
