:root {
    --color-3d503d: #3d503d;
    --color-fff: #fff;
    --color-beige: #f5f5dc;
    --color-green: #008000;
    --color-lightblue: #add8e6;
    --color-lightgoldenrodyellow: #fafad2;
    --color-navy: #000080;
    --color-rgb-0-0-0-10: #0000001a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    margin: 1rem;
}

p,
div {
    background-color: var(--color-beige);
    margin: 1rem;
    padding: 1rem;
}

span {
    color: var(--color-navy);
    background-color: var(--color-lightblue);
}

code {
    margin: 0;
    padding: 0;
    color: var(--color-green);
    font-size: 1.2rem;
}

.note {
    font-style: italic;
    background-color: var(--color-lightgoldenrodyellow);
    border-radius: 1rem;
    border: 1px solid var(--color-rgb-0-0-0-10);
    margin: 1rem;
    padding: .5rem;
}

.question {
    background-color: var(--color-3d503d);
    color: var(--color-fff);
}